In [7]:
l=[4,5,6,'kalai'] #square bracket is used for list
type(l)
l

[4, 5, 6, 'kalai']

In [2]:
# tuples- we round bracket
t=() # in tuples aslso we can iterate the data

In [3]:
type(t)

tuple

In [5]:
t=(1,2,3,4,5)

In [6]:
t

(1, 2, 3, 4, 5)

In [8]:
t=(1,2,3,4,5,'sudh', 4.56,6+6j)

In [9]:
t

(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))

In [10]:
#both are same hetrogenius data.

In [11]:
t[0]

1

In [12]:
t[-1] ##there is no diference in indexing and slicing the data

(6+6j)

In [13]:
t[::-1]

((6+6j), 4.56, 'sudh', 5, 4, 3, 2, 1)

In [14]:
len(t)

8

In [15]:
l

[4, 5, 6, 'kalai']

In [17]:
l[0]='muthu'## here we replace the value muhtu to the value 4

In [21]:
l

['muthu', 5, 6, 'kalai']

In [19]:
t[0]='muthu' ## tuple is not replace the value . This is difference of tuples and list

TypeError: 'tuple' object does not support item assignment

In [20]:
##mutable element are kind of element we can reassign the data . it can seein list

In [22]:
# tuple is a immutable element we cannot mutable the element.

In [23]:
s='sudh'

In [24]:
s[1]

'u'

In [25]:
s[1]='y' ## string is also immutable object. because we can't reasign element.

TypeError: 'str' object does not support item assignment

In [26]:
t

(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))

In [33]:
for i in t:
    print(i)

1
2
3
4
5
sudh
4.56
(6+6j)

In [36]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
5
sudh
4.56
(6+6j)

In [35]:
for i in t:
    print(t)

(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))
(1, 2, 3, 4, 5, 'sudh', 4.56, (6+6j))

In [37]:
t.count(3)

1

In [38]:
t1=(3,4,5,6,3,3)

In [39]:
t1.count(3) ##count is behave same as list

3

In [ ]:
## function of tuples are count and index

In [40]:
t.count(10) ## 10 is not available so it prints 0

0

In [41]:
t1.index(3) ##it always return the first occurences of 3

0

In [42]:
t1.index(4)

1

In [43]:
t=(2,1,3,4,5,6)
t1=(3,4,5,6,7,8)

In [44]:
t+t1 ## concatinate operator is available in tuple. But append operation is not available

(2, 1, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8)

In [28]:
l=[1,2,3,4,]

In [31]:
for i in l:
    print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [34]:
for i in l:
    print(i)

1
2
3
4

In [45]:
t=(4,5,6,7)

In [47]:
#datatype conversion to change tuples to list for insert operation
l=list(t)

In [48]:
l

[4, 5, 6, 7]

In [49]:
l.insert(2,'kalai')

In [50]:
l

[4, 5, 'kalai', 6, 7]

In [51]:
tuple(l) ## change into tuple from list then we get a insert element in 2 index.

(4, 5, 'kalai', 6, 7)

In [52]:
## set datatype
# using tuple no one can change any values. It is used tuples a lot

In [53]:
# not to manipulate our details then we use tuples.
#Set - Datatype

s=set([1,2,3,4,5,3,33,3,4,5,1,4])

In [54]:
s ## even we enter multiple times but we get one of the vlaue from the values set

{1, 2, 3, 4, 5, 33}

In [55]:
## set removes the duplicates and print the original and unique dataset.

In [58]:
# set is case sensitive element
s=set(['kalai',5,6,7,7,'kalai','Kalai', 4.56,True,5+7j])

In [59]:
s ##set always give answers with curly brackets

{(5+7j), 4.56, 5, 6, 7, 'Kalai', True, 'kalai'}

In [60]:
# set is hetrogenius type of data.

In [61]:
s[0] ## not

TypeError: 'set' object is not subscriptable

In [62]:
for i in s:
    print(i)

True
4.56
5
6
7
kalai
Kalai
(5+7j)

In [63]:
#
d=set((3,4,5,6,4,5,6))

In [64]:
d ## when we enter the values in tuples then also it gives unique value

{3, 4, 5, 6}

In [65]:
list(d)

[3, 4, 5, 6]

In [66]:
list(d)[::-1]

[6, 5, 4, 3]

In [67]:
list(d)[0]

3

In [68]:
b={} ## if we pass blank curly brackets then it is dict
type(b)

dict

In [69]:
b={4} ## here if we pass elements 1 or 3 then it is set
type(b)

set

In [70]:
b={3,4,5,6,67,7,7,8}

In [71]:
b

{3, 4, 5, 6, 7, 8, 67}

In [72]:
b.add('kalai')

In [73]:
b

{3, 4, 5, 6, 67, 7, 8, 'kalai'}

In [74]:
b.pop()

67

In [75]:
b

{3, 4, 5, 6, 7, 8, 'kalai'}

In [76]:
b.pop()

3

In [77]:
d

{3, 4, 5, 6}

In [78]:
b

{4, 5, 6, 7, 8, 'kalai'}

In [79]:
b.pop()

4

In [80]:
b.pop() ## remove first to last

5

In [86]:
s={4,5,6,3,4,5,6,7,2,0,'sufg','kalai'}

In [87]:
s  ## un oredered data set we have ouput of ordered unique data

{0, 2, 3, 4, 5, 6, 7, 'kalai', 'sufg'}

In [83]:
s=set() ## it gives unordered collection of data

In [84]:
s

set()

In [88]:
#set never gives as sorted data set

In [89]:
s[0]

TypeError: 'set' object is not subscriptable

In [90]:
for i in s:
    print(i)

0
2
3
4
5
6
7
kalai
sufg

In [91]:
l=[1,2,3,4]

In [92]:
s=set(l)

In [93]:
s

{1, 2, 3, 4}

In [94]:
list(s)## set is used for unique element and list is used for dublicates also

[1, 2, 3, 4]

In [95]:
## next collection is dictionary{}

In [96]:
d={}
type(d)

dict

In [99]:
# map takes key and value pair . this is also available in dict
d={'name':'kalai','lastname':'selvi'}

In [100]:
d

{'name': 'kalai', 'lastname': 'selvi'}

In [101]:
d={'name':'kalai','lastname':'selvi','name':'xyx'} #duplicates keys are not allowed and it over write the latest entry

In [102]:
d

{'name': 'xyx', 'lastname': 'selvi'}

In [103]:
d={3:'kalai','lastname':'selvi',#:'avc'}  special case character key not allowed

SyntaxError: unexpected EOF while parsing (<ipython-input-103-e2395acc20f4>, line 1)

In [104]:
d={3:'kalai','lastname':'selvi'} ##integers, floating point and strings can used as key

In [105]:
d

{3: 'kalai', 'lastname': 'selvi'}

In [106]:
d={'key':[1,2,3,4]}

In [107]:
d

{'key': [1, 2, 3, 4]}

In [109]:
d={'key':[1,2,3,4,[2,3,4,5]],'key2':(1,2,334,4),'key3':{1,2,3,4},'key4':{'x':'dff','y':'fghj'}}

In [110]:
d # we can store list , tuples ,set and dictionary

{'key': [1, 2, 3, 4, [2, 3, 4, 5]],
 'key2': (1, 2, 334, 4),
 'key3': {1, 2, 3, 4},
 'key4': {'x': 'dff', 'y': 'fghj'}}

In [111]:
d[0] # index is not works in dict

KeyError: 0

In [112]:
d['key'] # in dict we have to use the key to extrat the data

[1, 2, 3, 4, [2, 3, 4, 5]]

In [114]:
d['key'][4][0] # extract the data 2 in the nested list

2

In [116]:
d['key4']['y'] # extract data from dict using key values

'fghj'

In [117]:
for i in d: ## for loop only give key names 
    print(i)

key
key2
key3
key4

In [118]:
for i in d:
    print(d[i]) # here it gives the values of the key in the dictionary

[1, 2, 3, 4, [2, 3, 4, 5]]
(1, 2, 334, 4)
{1, 2, 3, 4}
{'x': 'dff', 'y': 'fghj'}

In [120]:
d.keys() # list of keys

dict_keys(['key', 'key2', 'key3', 'key4'])

In [121]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, [2, 3, 4, 5]]
(1, 2, 334, 4)
{1, 2, 3, 4}
{'x': 'dff', 'y': 'fghj'}

In [122]:
d.values() ## values is used get all the values

dict_values([[1, 2, 3, 4, [2, 3, 4, 5]], (1, 2, 334, 4), {1, 2, 3, 4}, {'x': 'dff', 'y': 'fghj'}])

In [123]:
m=[]
for i in d.values():
    if type(i)== tuple:
        for j in i:
            m.append(j)  # changing tuples into list

In [124]:
m

[1, 2, 334, 4]

In [ ]:
m=[]
for i in d.values():

In [125]:
d

{'key': [1, 2, 3, 4, [2, 3, 4, 5]],
 'key2': (1, 2, 334, 4),
 'key3': {1, 2, 3, 4},
 'key4': {'x': 'dff', 'y': 'fghj'}}

In [126]:
#ad new dataset inside a dict
d['key5']='this my new key'

In [127]:
d

{'key': [1, 2, 3, 4, [2, 3, 4, 5]],
 'key2': (1, 2, 334, 4),
 'key3': {1, 2, 3, 4},
 'key4': {'x': 'dff', 'y': 'fghj'},
 'key5': 'this my new key'}

In [128]:
d['key1']=[34,5,6]

In [129]:
d

{'key': [1, 2, 3, 4, [2, 3, 4, 5]],
 'key2': (1, 2, 334, 4),
 'key3': {1, 2, 3, 4},
 'key4': {'x': 'dff', 'y': 'fghj'},
 'key5': 'this my new key',
 'key1': [34, 5, 6]}

In [130]:
d['key1']='jfkggjkglk'

In [131]:
d

{'key': [1, 2, 3, 4, [2, 3, 4, 5]],
 'key2': (1, 2, 334, 4),
 'key3': {1, 2, 3, 4},
 'key4': {'x': 'dff', 'y': 'fghj'},
 'key5': 'this my new key',
 'key1': 'jfkggjkglk'}

In [132]:
#dictionary comprehension
#key should be int and values is squared value
d={}
for i in range(10):
    d[i] = i**2

In [133]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [134]:
l=['kalai','muthu','hfgjk','xyx']

In [135]:
d={}
for i in l:
    d[i] = i.upper()

In [136]:
d

{'kalai': 'KALAI', 'muthu': 'MUTHU', 'hfgjk': 'HFGJK', 'xyx': 'XYX'}

In [139]:
d={}
for i in l:
    d[i] = i.islower()

In [140]:
d

{'kalai': True, 'muthu': True, 'hfgjk': True, 'xyx': True}

In [142]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [143]:
{i:i.upper() for i in l}

{'kalai': 'KALAI', 'muthu': 'MUTHU', 'hfgjk': 'HFGJK', 'xyx': 'XYX'}

In [144]:
d.items()

dict_items([('kalai', True), ('muthu', True), ('hfgjk', True), ('xyx', True)])

In [ ]:
# function 
#what is function ?
#there are lots of inbuilt fun ie are append, split,find , count 
#creating  functions are used to increase the reusability

In [145]:
#someone has created the find function so we are using it. if we create a function and another person can use it.

In [146]:
#python is scripting , oops and functional programming language

In [149]:
#how to create own function:
def test():
    pass # here we cant give any argument

In [150]:
test()

In [151]:
range(4)

range(0, 4)

In [152]:
def test():
    pass

In [153]:
type(test()) ## it doesn't give any datatype

NoneType

In [154]:
for i in range(8):
    pass ## pass is keyword used for nothing write inside body

In [155]:
def test():
    print('this is my first function')

In [156]:
test()

this is my first function

In [157]:
def test1():
    a=1
    b=5
    print(a+b)

In [158]:
test1() # when we call the test1 then it gives the total

6

In [159]:
type(test1())

6

NoneType

In [160]:
test1()+1

6

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [161]:
b=test1()
b

6

In [162]:
b+1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [163]:
def test():
    a=4
    b=9
    return a+b ## return always return the datatype

In [164]:
test()

13

In [165]:
type(test())

int

In [167]:
n=test()
n

13

In [168]:
n+100

113

In [169]:
def test():
    a=4
    b=9
    return 'this is kalai'

In [170]:
n=test()

In [171]:
n

'this is kalai'

In [172]:
n+'hkfg'

'this is kalaihkfg'

In [173]:
def test(a,b): ##pass data in the runtime
    return a+b

In [176]:
test()

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [183]:
#we need to pass the arguments in the function
x=test(4,6)
type(x)

int

In [180]:
y=test('kalai','selvi') ## we can pass any datatype

In [182]:
type(y)

str

In [184]:
y.upper()

'KALAISELVI'

In [179]:
test(8.0,5.6)

13.6

In [185]:
test([2,3,4,5],[4,5,6,7])

[2, 3, 4, 5, 4, 5, 6, 7]

In [186]:
def test(a,b):
    return a+b,a*b #here we can pass the two function

In [188]:
y,x=test(3,5)

In [189]:
y

8

In [190]:
x

15

In [191]:
a=1
b=2
c=9
d='kalai'

In [192]:
a,b,c,d=5,6,7,'kalai' #we can write the above like this in single line

In [193]:
d

'kalai'

In [194]:
def test(a,b='kalai'): # here i have assign value for one argrument
    return a+b

In [195]:
test('xyx') ## so here we have to give a single value

'xyxkalai'