# While loop

In [1]:
a=10
b=20

if a == 10 and b > 20:
    print("these are valid numbers")
elif a ==10 and b<=20:
    print("this is valid inside elif")
else:
    print("not valid numbers")

this is valid inside elif

In [2]:
 a == 10 and b == 20

True

In [3]:
a=10
b=20

if a == 10 and b > 20:
    print("these are valid numbers")

In [4]:
a == 10 and b > 20

False

In [5]:
a=10
b=20

if a == 10 or b > 20:
    print("these are valid numbers")
elif a ==10 and b<=20:
    print("this is valid inside elif")
else:
    print("not valid numbers")

these are valid numbers

In [6]:
# task take a input from your keyboard as your first name and lastname
#try to validate of write multiple condition by yourself

In [7]:
first_name=input("enter your first name:")
last_name=input("enter your last name:")

enter your first name:kalai
enter your last name:selvi

In [8]:
first_name=input("enter your first name:")
last_name=input("enter your last name:")

if first_name == "kalai" and last_name == "selvi":
    print("Your name is beautiful")
elif first_name == "kalai" or last_name == "selvi":
    print("superb")
else:
    print("no name like this")

enter your first name:kalai
enter your last name:selvi
Your name is beautiful

In [9]:
if a == 10 :print("valid no") ## this is also fine

valid no

In [10]:
initial_speed = 0
final_speed = 100
count =1
while initial_speed <= final_speed :
    print("my speed")
    count=count+1
    if count == 10:
        break

my speed
my speed
my speed
my speed
my speed
my speed
my speed
my speed
my speed

In [11]:
i=1
j=5
while i<j:
    print(i)
    i=i+1
    if i==5:
        break

1
2
3
4

In [12]:
notes = 5
i=1
while i <= notes:
    print(i)
    i +=1
else:
    print(" no 10 rs notes are available")

1
2
3
4
5
 no 10 rs notes are available

In [13]:
notes = 5
i=1
j=1
while i < notes:
    print(i)
    i +=1
else:
    while j <2:
        print(i)
        j=j+1
    print(" no 10 rs notes are available")

1
2
3
4
5
 no 10 rs notes are available

## datasets in pyhton are list, tiples , set , dictionary and many more datasets

In [14]:
s="kalai" ## strings indexes are begin with 0

In [15]:
s[2]

'l'

In [28]:
s="my name is kalaiselvi"

In [29]:
s[3:10]

'name is'

In [30]:
s[3:10:2]# 3--starting , 10-end point,2 - is step

'nm s'

In [31]:
#reversal of the data
s[10:2:-1]

' si eman'

In [32]:
s[21:10:-1]

'ivlesialak'

In [33]:
s[21:10:-2]

'ilsaa'

In [34]:
s[::-1] ## without giving start and end

'ivlesialak si eman ym'

In [23]:
s[2:-6]

' name is kala'

In [24]:
s="kalai"

In [25]:
s[-2] # -2 and 3 index are same

'a'

In [26]:
s[3]

'a'

In [35]:
s

'my name is kalaiselvi'

In [36]:
for i in s :
    print(i)

m
y

n
a
m
e

i
s

k
a
l
a
i
s
e
l
v
i

In [40]:
for i in s :
    if i == 's':
        print(" i got s ")
    print(i)

m
y

n
a
m
e

i
 i got s
s

k
a
l
a
i
 i got s
s
e
l
v
i

In [39]:
s

'my name is kalaiselvi'

In [41]:
for i in s :
    print(i)
else :
    print(" this is else condition")

m
y

n
a
m
e

i
s

k
a
l
a
i
s
e
l
v
i
 this is else condition

In [44]:
for i in s :
    if i == 'l':
        break
    print(i)
else :
    if i == 'a':
        print(" a is in my name")
    print(" this is else condition")

m
y

n
a
m
e

i
s

k
a

In [47]:
for i in s :
    if i == 's':
        continue
    print(i)
else :
    if i == 'a':
        print(" a is in my name")
    print(" this is else condition")

m
y

n
a
m
e

i

k
a
l
a
i
e
l
v
i
 this is else condition

In [50]:
s = " ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == 'n':
        continue
    else:
        ss = ss+s[i]

In [51]:
ss

' ieuro'

In [56]:
n= 7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ", end ="")
    #print("\r")

+ + + + + + + + + + + + + + + + + + + + + + + + + + + +

In [57]:
n= 7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ", end ="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [70]:
n = 7
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print("*" , end='')
    print("\r")

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [74]:
n= 7
m = 2 * n - 2
for i in range(n, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m+1
    for j in range(0, i + 1):
        print("* ",end="")
    print("\r")

            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *

In [79]:
n=9

for i in range(0,n):
    for j in range(0,i-1):
        print(" + ", end ="")
    print("\r")

 +
 +  +
 +  +  +
 +  +  +  +
 +  +  +  +  +
 +  +  +  +  +  +
 +  +  +  +  +  +  +

In [88]:

for i in range(3):
    print(i)

0
1
2

In [92]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

In [109]:
n=9
m= 2* m+2
for i in range(0 , n , 1):
    for j in range(0,m,1):
        print(end="")
    m=m+1    
    for j in range(i+1,0):
        print(" * ",end="")
        
    print("\r")

In [111]:
n=9
i=0
while i<n:
    print(" "*(n-i-1) + "* "*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [112]:
n=5
m=2*n-2

In [113]:
m

8

In [114]:
i=1
k=1
while i<=5:
    b=1
    while b<=5-i:
        print(' ',end="")
        b=b+1
    j=1
    while j<=k:
        print("*",end="")
        j=j+1
    print()
    k=k+2
    i=i+1

    *
   ***
  *****
 *******
*********

In [115]:
#list

l=list()

In [116]:
## array is available in numpy library
## array is not available in core python

In [117]:
name='kalai'
phno=7898900007
addr='hdhfjg'
name,phno,addr="kalai",7898900007,'hdhfjg'

In [119]:
l=['kalai',677888,"ssjffj"]

In [120]:
l[0]

'kalai'

In [121]:
l[1]

677888

In [123]:
l[2]

'ssjffj'

In [124]:
type(l)

list

In [127]:
l1=[]
type(l1)

list

In [128]:
l2=list()

In [129]:
type(l2)

list

In [130]:
# in list we can define any datatypes like  int, float,bool,complex numbers

In [131]:
#list is used to hold the data and extract the data from the list

In [132]:
l=['kalai', 5766,"hfhfjg",True, 5+6j,[3,5,6,"hjj"],8.098]

In [134]:
for i in l:
    
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [135]:
for i in l:
    if type(i)== list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [136]:
for i in l:
    if type(i)== list:
        n=0
        for j in i:
            if type(j) == int:
                n=n+j
        print(n)
         
        print(type(j))

14
<class 'str'>

In [137]:
l[0]

'kalai'

In [138]:
l[0:5]

['kalai', 5766, 'hfhfjg', True, (5+6j)]

In [139]:
l[8:3:-1]

[8.098, [3, 5, 6, 'hjj'], (5+6j)]

In [145]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [143]:
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [146]:
len(l)

7

In [147]:
string="selvi"
for i in string:
    print(i,end="")

selvi