# Basic python code

In [2]:
print("Hi this is my First Python Program")

Hi this is my First Python Program

In [3]:
a=10
b=3
c=a+b
d=a*b
e=a/2

In [4]:
c

13

In [5]:
d

30

In [6]:
e

5.0

In [7]:
a=10+kalai ## we cannot concadinate int and character together

NameError: name 'kalai' is not defined

In [8]:
## WE have to convert into one datatype then it works 
a="10"+"kalai"
a

'10kalai'

In [11]:
a="god"*3  ##here it gives the word "god" three times ass output
a

'godgodgod'

In [12]:
## multi line command use """ """

"""
asdsfj
ghjk
fhjggk
dhfjkkjfl
jhkkhk
"""

'\nasdsfj\nghjk\nfhjggk\ndhfjkkjfl\njhkkhk\n'

In [13]:
# this is not send these lines to compilar

In [14]:
"""
print('a')
print('b')
print('c')
"""

"\nprint('a')\nprint('b')\nprint('c')\n"

In [17]:
a=3*3

In [ ]:
#harddisk---Mainmemory(Ram)---->cpu
## cpu is processing 
## load data in main memory

In [18]:
#what is purpose  of code
#to perform some process of data
#process some sort of data/records

In [19]:
#variable is nothing but local/global variable to store data

In [20]:
a=10 ## a is name of  varaible
# the data store in RAM
# name of the variable is space in memory
# we can store data 10 is in a

In [21]:
a

10

In [22]:
# RAM is temprory storage
# when we shutdown the variable is cleared.
# Python understands the data type asitself

In [23]:
type(a)

int

In [24]:
b="good"

In [25]:
b

'good'

In [26]:
type(b)

str

In [29]:
c='good'
c

'good'

In [30]:
c=5.6
c

5.6

In [31]:
type(c)

float

In [32]:
print(a,b)

10 good

In [33]:
a=45
b='kind'

In [37]:
a,b,d=45,'kind','kalai'

In [38]:
a

45

In [39]:
b

'kind'

In [41]:
d

'kalai'

In [42]:
a,b,d ## it create a tuples

(45, 'kind', 'kalai')

In [43]:
#  variable name is not begin with numbers or symbols

In [44]:
#_b is a variable 
_b=4

In [45]:
b& ='fgg' # it gives error

SyntaxError: invalid syntax (<ipython-input-45-70c382a34684>, line 1)

In [46]:
# give a meaningful variable name
name='kalai'
userid='id001'
password='hdfjkgj'
mail_id='kalai@gmail.com'

In [47]:
#float
a=1.6
type(a)

float

In [50]:
#boolean variable

b=True
c=False
type(b)

bool

In [51]:
type(c)

bool

In [56]:
print(True+True+True+False+True)

4

In [57]:

print(False-True+True)

0

In [63]:
True+True-False  # True always represent 1 and False is 0

2

In [61]:
False+False

0

In [62]:
True/False

ZeroDivisionError: division by zero

In [64]:
#complex number = real + imaginary number
n=45+6j # 45 is real + 6 is imaginary and j is notation
type(n)

complex

In [65]:
n # j is the only notation for python program

(45+6j)

In [66]:
n.real

45.0

In [67]:
n.imag

6.0

In [68]:
m=30+5j
n*m

(1320+405j)

In [69]:
#python is a dynamic programing or typing

In [70]:
1+"kalai" # it is not working with two different datatypes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
# python is hetrogenius data type

In [72]:
1+1.899

2.899

In [1]:
"kalai"+"kalai"+"kalal"

'kalaikalaikalal'

In [2]:
"kalai"*3

'kalaikalaikalai'

In [3]:
int('23')

23

In [4]:
int('43kkj')

ValueError: invalid literal for int() with base 10: '43kkj'

In [5]:
a=10

In [6]:
a=input() ## input is inbuilt function we get input from the user

lachu

In [7]:
a

'lachu'

In [8]:
a=input('Enter your age')

Enter your age37

In [9]:
#Q1 take a integer input from a user a,b,c and perform a+b/c
#get output + complex variable --output 1
a=input("Enter a number a=")
b=input("Enter a number b=")
c=input("Enter a number c=")

Enter a number a=10
Enter a number b=5
Enter a number c=3

In [15]:
o=int(a+b)

In [17]:
o=int(a)+int(b)

In [18]:
o

15

In [19]:
o1=o/int(c)

In [20]:
o1

5.0

In [21]:
o1=o1+(4+5j)

In [22]:
o1

(9+5j)

In [24]:
o2=input("enter your name")
o2

enter your namekalai

'kalai'

In [28]:
o3=str(o1)+o2

In [29]:
o3

'(9+5j)kalai'

In [31]:
#another way
a=int(input('enter var a='))
b=int(input('enter var b='))
c=int(input('enter var c='))

enter var a=45
enter var b=56
enter var c=34

In [32]:
o=a+b/c

In [33]:
o

46.64705882352941

In [34]:
o1=o+78+6j

In [35]:
type(o1)

complex

In [36]:
o1

(124.64705882352942+6j)

In [37]:
str(o1)+"kalai"

'(124.64705882352942+6j)kalai'

In [38]:
#conditional statement
a=int(input("enter number lesser than 34--"))

enter number lesser than 34--56

In [39]:
a

56

In [ ]:
a=int(input("enter number lesser than 34--"))

if a < 34:
    pass
print('data input is lesser than 34 and i am fine with it')

In [2]:
a=int(input("enter number lesser than 34--"))

if a < 34:
    print('data input is lesser than 34 and i am fine with it')
else:
    print(" user input is bigger than 34")

enter number lesser than 34--3
data input is lesser than 34 and i am fine with it

In [8]:
a=int(input("enter number lesser than 34--"))

if a < 34:
    print('data input is lesser than 34 and i am fine with it') 
elif a<100:
    print('my data is lesser than 100')
else:
    print(" user input is bigger than 34")

enter number lesser than 34--89
my data is lesser than 100

In [12]:
salary=int(input("enter your salary"))
if salary >1000:
    print("buy a car")
elif salary >500:

    print("buy a bike")
elif salary >100:
    print("nothing to buy")
else:
    print("i will save money")

enter your salary50
i will save money

In [14]:
salary=int(input("enter your salary"))
if salary >1000:
    print("buy a car")
    if salary >5000:
        print(" i will buy nano")
    if True:
        print("false code")
    elif salary >10000:
        print('i will buy alto')
    elif salary >50000:
        print("i will buy toyata")
    else:
        print("i will go in ola")
elif salary >500:

    print("buy a bike")
elif salary >100:
    print("nothing to buy")
else:
    print("i will save money")

enter your salary10000
buy a car
 i will buy nano
false code