In [1]:
##list Manipulation

In [2]:
l=['sudh', 234,45,56,[45,67,67,"c"],True]

In [3]:
for i in l:
    print(i)

sudh
234
45
56
[45, 67, 67, 'c']
True

In [4]:
l[0]

'sudh'

In [5]:
l[::-1]

[True, [45, 67, 67, 'c'], 56, 45, 234, 'sudh']

In [7]:
for i in l:
    if type(i)==list:
        print('this is a list',i)
    else:
        print('this is not a list',i)

this is not a list sudh
this is not a list 234
this is not a list 45
this is not a list 56
this is a list [45, 67, 67, 'c']
this is not a list True

In [8]:
l

['sudh', 234, 45, 56, [45, 67, 67, 'c'], True]

In [9]:
l1=['kalai',456,789,34]

In [10]:
l+l1

['sudh', 234, 45, 56, [45, 67, 67, 'c'], True, 'kalai', 456, 789, 34]

l*2

In [11]:
l*2

['sudh',
 234,
 45,
 56,
 [45, 67, 67, 'c'],
 True,
 'sudh',
 234,
 45,
 56,
 [45, 67, 67, 'c'],
 True]

In [12]:
len(l)

6

In [13]:
234 in l

True

In [16]:
print(max([2,3,4,5]))

5

In [17]:
max(['sfjdkfk','ksdk',234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [18]:
# max funtion works with numers and string it takes orders of alphabet and numer.
max('skl','hfjfj','ai','y')

'y'

In [19]:
min(['dhh','jkgkgk'])

'dhh'

In [20]:
min([2,4,5,6,7,0])

0

In [21]:
#min and max is work with only string or numeric
#not work for both in single list

In [22]:
l=[1,2,3,4]

In [23]:
l.append('kalai') # append is use to add a data in the list in last position

In [24]:
l

[1, 2, 3, 4, 'kalai']

In [25]:
l.append(6+6j)

In [26]:
l

[1, 2, 3, 4, 'kalai', (6+6j)]

In [27]:
# insert function is used add data in any indexes

In [1]:
l=[1,2,3,4,5]

In [2]:
l.append('kalai')

In [3]:
l.insert(2,'good') ## create object before index

In [4]:
l

[1, 2, 'good', 3, 4, 5, 'kalai']

In [5]:
l.insert(-2,'test')

In [6]:
l

[1, 2, 'good', 3, 4, 'test', 5, 'kalai']

In [9]:
l.insert(2,[5,6,7,8])

In [10]:
l

[1,
 2,
 [5, 6, 7, 8],
 [5, 6, 7, 8],
 [5, 6, 7, 8],
 'good',
 3,
 4,
 'test',
 5,
 'kalai']

In [11]:
## it give the last data permanently in the list
l.pop()

'kalai'

In [12]:
l

[1, 2, [5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8], 'good', 3, 4, 'test', 5]

In [13]:
l.pop()

5

In [14]:
l

[1, 2, [5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8], 'good', 3, 4, 'test']

In [17]:
l.pop(2) ## index vise pop operation has formed

[5, 6, 7, 8]

In [18]:
l

[1, 2, [5, 6, 7, 8], 'good', 3, 4, 'test']

In [22]:
l[::-1] ## revese the entire dataset not pernantly. if we do reassignment operation then it changes the data . otherwise it not changes permanently

[1, 2, [5, 6, 7, 8], 'good', 3, 4, 'test']

In [20]:
l.reverse()## it changes the data permanently

In [21]:
l

['test', 4, 3, 'good', [5, 6, 7, 8], 2, 1]

In [23]:
l.sort() ## it not performs str and int in a dataset

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
n=[3,4,56,6,7]

In [25]:
n.sort()## it works and sort only the numeric or only the string in the list

In [26]:
n

[3, 4, 6, 7, 56]

In [27]:
m=['sudh','kalai','muthu']

In [28]:
m.sort()

In [29]:
m

['kalai', 'muthu', 'sudh']

In [30]:
m.sort(reverse=True) ## it gives desecending order when we give 'reverse=True'

In [31]:
m

['sudh', 'muthu', 'kalai']

In [32]:
a=[3,4,5,78]
b=[3,9,5,67,7,8,8]
c=[2,34,45,678,89,99,9]

In [34]:
d=[a,b,c]

In [35]:
d

[[3, 4, 5, 78], [3, 9, 5, 67, 7, 8, 8], [2, 34, 45, 678, 89, 99, 9]]

In [36]:
d[2]

[2, 34, 45, 678, 89, 99, 9]

In [37]:
d[-1] # both are same

[2, 34, 45, 678, 89, 99, 9]

In [38]:
d[-1][::2]## from the 3rd list we get the data by skipping the ione value

[2, 45, 89, 9]

In [47]:
## list of list elements reversal
m=[]
d= d[::-1]

In [48]:
for b in d:
    m.append(b[::-1])

In [49]:
m

[[9, 99, 89, 678, 45, 34, 2], [8, 8, 7, 67, 5, 9, 3], [78, 5, 4, 3]]

In [45]:
m=[]
d=d[::-1]
for b in d:
    m.append(b[::-1])

In [46]:
m

[[78, 5, 4, 3], [8, 8, 7, 67, 5, 9, 3], [9, 99, 89, 678, 45, 34, 2]]

In [50]:
m

[[9, 99, 89, 678, 45, 34, 2], [8, 8, 7, 67, 5, 9, 3], [78, 5, 4, 3]]

In [51]:
n=[]
for i in m:
    n.append(i[2]) ## extract the data from 2nd index of all the list

In [52]:
n

[89, 7, 4]

In [53]:
n=[]
for i in m:
    n.append(i[2]*2)  #this can write using list comprehension.

In [54]:
n

[178, 14, 8]

In [55]:
#list comprehension
[i[2]*2 for i in m]

[178, 14, 8]

In [56]:
[{i[2]*3} for i in m]

[{267}, {21}, {12}]

In [57]:
s=[1,3,5,5,6]

In [58]:
s.append([3])

In [59]:
s

[1, 3, 5, 5, 6, [3]]

In [60]:
s.extend([3,4,5,'kkff']) ## extend is unwrape the data set and add it in the list

In [61]:
s

[1, 3, 5, 5, 6, [3], 3, 4, 5, 'kkff']

In [64]:
## nested list
s.extend([2,3,4,[5,6,7,7,7]]) ## it unwrap the first list and list inside list is not unwrap

In [65]:
s

[1, 3, 5, 5, 6, [3], 3, 4, 5, 'kkff', 2, 3, 4, [5, 6, 7, 7, 7]]

In [66]:
s.index(6)

4

In [67]:
s.find()# it doesn't work

AttributeError: 'list' object has no attribute 'find'

In [68]:
s.index(3)

1

In [69]:
s.index(56) # this value is not available in the list

ValueError: 56 is not in list

In [ ]:
## tuple is another type of data
## tuple is immutable entity