In [1]:
a="muthu"

In [4]:
c="this is my first class for full stack datascience, that's why i have joined this class"

In [5]:
c

"this is my first class for full stack datascience, that's why i have joined this class"

In [6]:
len(c)

86

In [8]:
c[20]

's'

In [9]:
c[100]

IndexError: string index out of range

In [10]:
c[4:10]

' is my'

In [12]:
c[10:4:-1]

' ym si'

In [13]:
c[-1:-10:-1]

'ssalc sih'

In [14]:
for i in c:
    print(i)

t
h
i
s

i
s

m
y

f
i
r
s
t

c
l
a
s
s

f
o
r

f
u
l
l

s
t
a
c
k

d
a
t
a
s
c
i
e
n
c
e
,

t
h
a
t
'
s

w
h
y

i

h
a
v
e

j
o
i
n
e
d

t
h
i
s

c
l
a
s
s

In [15]:
for i in range(len(c)):
    print(c[i])    # same

t
h
i
s

i
s

m
y

f
i
r
s
t

c
l
a
s
s

f
o
r

f
u
l
l

s
t
a
c
k

d
a
t
a
s
c
i
e
n
c
e
,

t
h
a
t
'
s

w
h
y

i

h
a
v
e

j
o
i
n
e
d

t
h
i
s

c
l
a
s
s

In [16]:
c[::-1]

"ssalc siht denioj evah i yhw s'taht ,ecneicsatad kcats lluf rof ssalc tsrif ym si siht"

In [17]:
s="this is full stack datascience"

In [18]:
s[::-1]

'ecneicsatad kcats lluf si siht'

In [19]:
s[0]="x" #string is a immutable oject. string object doesn't support item assignment

TypeError: 'str' object does not support item assignment

In [ ]:
# In string we cannot replace index values. because it is immutable object

In [20]:
l=['jkfkdk',234,456,True]

In [21]:
l[0]

'jkfkdk'

In [22]:
l[0]="kalai"  #list is mutable object. it can support item assignment

In [23]:
l[0]

'kalai'

In [26]:
s.capitalize()

'This is full stack datascience'

In [29]:
s="My name is Kalai , name of org is ineuron"

In [9]:
s

'my name is kalai , name of org is ineuron'

In [10]:
s.find("m") # it writes the lowest index

0

In [11]:
s.find('ghj')

-1

In [12]:
s.find('name')

3

In [13]:
s[3:7]

'name'

In [19]:
b=s.find("name")
for i in range(len('name')):
    print(b+i)

3
4
5
6

In [21]:
s.count('name') # how many times this string is appear in a sentence

2

In [22]:
s.split()

['my', 'name', 'is', 'kalai', ',', 'name', 'of', 'org', 'is', 'ineuron']

In [23]:
s.split(',')

['my name is kalai ', ' name of org is ineuron']

In [24]:
s.split('m')# split the data whereever m comes split there

['', 'y na', 'e is kalai , na', 'e of org is ineuron']

In [25]:
type(s.split('m'))

list

In [26]:
s.upper() ## convert all data in upper case

'MY NAME IS KALAI , NAME OF ORG IS INEURON'

In [27]:
s.lower()

'my name is kalai , name of org is ineuron'

In [30]:
s.swapcase()## swap is used change upper to lower and vicesersa

'mY NAME IS kALAI , NAME OF ORG IS INEURON'

In [31]:
" ".join(s)# it gives space for every letter

'M y   n a m e   i s   K a l a i   ,   n a m e   o f   o r g   i s   i n e u r o n'

In [33]:
list(reversed(s))

['n',
 'o',
 'r',
 'u',
 'e',
 'n',
 'i',
 ' ',
 's',
 'i',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 ',',
 ' ',
 'i',
 'a',
 'l',
 'a',
 'K',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'M']

In [34]:
for i in reversed(s):
    print(i)

n
o
r
u
e
n
i

s
i

g
r
o

f
o

e
m
a
n

,

i
a
l
a
K

s
i

e
m
a
n

y
M

In [37]:
s=' kalai '

In [38]:
s

' kalai '

In [36]:
s.strip() ## it removes space after and before a complete string

'kalai'

In [39]:
s.lstrip()

'kalai '

In [40]:
s.rstrip()

' kalai'

In [41]:
s="  greeting from ineuron "

In [42]:
s.replace("g","s")

'  sreetins from ineuron '

In [43]:
s.replace("gr", "kre")# it replace data  in the different location, because we cannot store in native location it string is immutal object

'  kreeeting from ineuron '

In [44]:
s

'  greeting from ineuron '

In [45]:
s=s.replace('g','h') ## if assign the data it replaces in s

In [46]:
s

'  hreetinh from ineuron '

In [47]:
s='kalai'

In [48]:
s.center(20, 'b')

'bbbbbbbkalaibbbbbbbb'

In [50]:
s.center(20," ")

'       kalai        '

In [52]:
s.center(20, "4")

'4444444kalai44444444'

In [1]:
s="kalai\selvi"

In [2]:
s

'kalai\\selvi'

In [3]:
s.expandtabs()

'kalai\\selvi'

In [4]:
a='we all are a part of Full stack'

In [5]:
a.lower()

'we all are a part of full stack'

In [7]:
## find no of occurences of 'a' in data
a.count('a')

5

In [8]:
# replace letter with iNeuron
a.replace('a','iNeuron')

'we iNeuronll iNeuronre iNeuron piNeuronrt of Full stiNeuronck'

In [9]:
## get the string in list format
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'stack']

In [10]:
type(a.split())

list

In [11]:
#find all the location /index of 'a' in a string
for i in range(len(a)):
    if a[i]=='a':
        print(i)

3
7
11
14
28